<<template>
    <div id="aviso" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title mr-1 font-weight-bold texto-padrao">
                        AVISO IMPORTANTE
                        <i class="fas fa-exclamation-triangle fa-2x"></i>
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-for="a in aviso">
                    <div v-if="a" class="modal-body mt-1" :style="'background-image: url(../storage/' + a.url_imagem">
                        <p class="card-text text-center modal-title mr-1 font-weight-bold texto-padrao h2">
                            {{a.titulo}}
                        <p>
                        <p class="card-text text-justify">
                            <span v-html="a.texto"></span>
                        </p>
                    </div>
                    <div v-else class="modal-body mt-3">
                        <p class="card-text text-center modal-title mr-1 font-weight-bold texto-padrao h2">
                            {{a.titulo}}
                        <p>
                        <p class="card-text text-justify">
                            <span v-html="a.texto"></span>
                        </p>
                    </div>
                </div><!-- v-for -->
                <div class="modal-footer">
                    <button type="button" class="btn bg-primario text-light" data-dismiss="modal">FECHAR</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                aviso:[],
            }
        },

        created() {
            this.getAvisos();
        },

        updated(){
            if(this.aviso.length != 0){
                this.getAlert();
            }
        },

        methods: {
            getAvisos: function(){
                axios.get('/api/restrito/aviso')
                    .then(response => {
                        this.aviso = response.data;
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },

            getAlert: function(){
                $().ready(function() {
                    setTimeout(function () {
                        $(window).on('load',function(){
                            $('#aviso').modal('show');
                        });
                    }, 5900); // O valor é representado em milisegundos.
                });
            },
        }
    }
</script>

<style scoped>

</style>>
