<<template>
    <div class="mun-pd">
        <div class="container card border-secondary">        
            <div class="row mun-pd-top" v-for="m in municipio">
                <div class="col-md-12 text-center">
                    <span class="tx-noticia texto-padrao">{{m.nome}}</span>
                </div><br/>
                <div class="col-md-12 pad-top">
                    <div v-if="m.url_imagem">
                        <img class="rounded img-fluid float-left pull-left mr-2" :src="'storage/' + m.url_imagem" height="400px" width="500px">
                    </div>
                    <div v-else>
                        <img class="rounded img-fluid float-left pull-left mr-2" src="img/banner/banner-1.jpeg" height="400px" width="500px">
                    </div>
                    <div class="">
                        <h5>{{m.descricao}}</h5>
                        <p class="text-justify">{{m.texto}}</p>
                    </div>                    
                </div>
            </div><br>
        </div>
    </div>        
</template>

<script>
    export default {
        data(){
            return{
                municipio: [],                
            }
        },        

        mounted() {            
            this.getMunicipio();                  
        },

        methods:{
            getMunicipio: function(){
                axios.get('/api/restrito/municipio')
                .then(response => {
                    this.municipio = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                }); 
            },            
        }  
    }
</script>

<style>
    .mun-pd-top{
        padding: 5%;
    }

    .pad-top{
        padding-top: 50px;
    }
    .mun-pd{
        padding-top: 5%;
        padding-bottom: 5%
    }
</style>