<<template>
    <div class="invoice thumbnail">

        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="modalMunicipio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content card">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>                                
                        </div>
                        <div class="modal-header">
                            Imagem
                        </div><!-- modal-header -->
                        <div class="card-body">
                            <form class="thumbnail" v-on:submit.prevent="updateMunicipio()" enctype="multipart/form-data">
                                <input type="hidden" name="_token" value="csrf_token()"/>
                                <div class="form-group">
                                    <label>Nome:</label>
                                    <input type="text" name="nome" class="form-control" v-model="update.nome">
                                </div>
                                <div class="form-group">
                                    <label>Descrição:</label>
                                    <input type="text" name="nome" class="form-control" v-model="update.descricao">
                                </div>   
                                <div class="form-group">
                                    <label>Imagem:</label>
                                    <input type="file" name="url_imagem" class="form-control" id="url_imagem" ref="url_imagem" @change="update.url_imagem">
                                </div>                                
                                <div class="form-group">
                                    <label>Texto:</label>
                                    <textarea class="form-control" name="texto" rows="6" v-model="update.texto"></textarea>
                                </div>
                                <div class="box-footer">                                    
                                    <button type="button" class="btn bg-padrao" data-dismiss="modal">FECHAR</button>
                                    <button type="submit" class="btn btn-success pull-right">ATUALIZAR</button>
                                </div>                                
                            </form>   
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal fade -->
        </div><!-- row -->

        <div class="row">                
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="alert alert-danger" role="alert" v-if="erros" v-for="e in errors">
                    <span>{{e}}</span>
                </div>    
                <h2 class="page-header">
                </h2>
            </div>            
        </div><!-- row -->
        
        <div class="row invoice-info" v-for="m in municipio">
            <div class="col-sm-4 invoice-col">                
                <address>                    
                    NOME: <br><br>
                    {{m.nome}}<br>
                </address>
            </div><!-- col-sm-4 -->            

            <div class="col-sm-4 invoice-col">
                <address>
                    <div class="text-center">
                        DESCRIÇÃO: <br><br>
                        {{m.texto_resumido}}<br>
                    </div>
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <address>
                    <div class="text-center">                        
                        <img src="img/ex-1.jpg" class="rounded">
                    </div>
                </address>
            </div>               
        </div><!-- row -->

        <div class="row no-print">
            <div class="col-xs-12">                
                <a type="submit" class="btn btn-warning pull-right" data-toggle="modal" data-target="#modalMunicipio">EDITAR</a>                
            </div>            
        </div>        
    </div>
</template>

<script>
import { log } from 'util';
    export default {
        data(){
            return{
                municipio: [],
                update: {nome: '', descricao: '', texto: '', url_imagem: ''},
                errors: [],                
            }
        },

        mounted(){            
            this.getMunicipio();
        },

        methods:{
            csrf_token: function(){
                $.ajaxSetup({
                    headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    }
                });
            },
            getMunicipio: function(){
                axios.get('/phpmyadmin/restrito/api/municipio/all')
                .then(response => {
                    this.municipio = response.data                     
                })
                .catch(error => {                    
                    console.log(error);
                }); 
            },
            updateMunicipio: function(){
             
            },
            checkForm: function (res) {
                if (res) {
                    this.errors = res;
                }
            }
        },        
    }
</script>

<style>

</style>
