<<template>
    <div class="container di-pd">
        <div class="row">            
            <div class="col-md-4 col-sm-12">
                <a class="text-light" href="https://www.tcm.ba.gov.br/municipio-post/itapicuru/" target="_blank">
                    <div class="d-flex justify-content-center img-thumbnail bg-padrao">
                        <div class=" text-center">
                            <img src="img/logos/logo-tcm.png" class="img-direcional" alt="Tribunal de Contas Municipal do Estdao da Bahia">                     
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-flex justify-content-center img-thumbnail text-light bg-padrao">
                    <a href="/esic" target="_blank">
                        <div class="text-center">
                            <img src="img/logos/logo-esic.png" class="img-direcional" alt="Sistema Eletrônico do Serviço de Informações ao Cidadão">
                        </div>
                    </a>                    
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="d-flex justify-content-center img-thumbnail text-light bg-padrao">
                    <a href="https://cidades.ibge.gov.br/brasil/ba/itapicuru/panorama" target="_blank">
                        <div class="text-center">
                            <img src="img/logos/logo-ibge.png" class="img-direcional" alt="Instituto Brasileiro de Geografia">
                        </div>
                    </a>                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
     .direcioanl-icons-text{
        font-size: 40px
    }    

    .img-direcional{
        max-width: 40%;        
    }

    .di-pd{
        padding-top: 5%;        
    }
</style>