<<template>
    <div id="edital-audiencia" class="container">
        <div class="zoom">
            <a href="documentos/edital-audiencia.mp4" target="_blank">
              <img src="documentos/edital-audiencia.png" class="card-img-top">
            </a>
        </div>
    </div><!-- container --->
</template>


<style>    
    #edital-audiencia{
        padding-top: 5%;
        padding-bottom: 2.5%;    
    }

    #edital-audiencia .zoom {
        overflow: hidden;
    }

    #noticia-3 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    #edital-audiencia .zoom:hover img {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }   

    #edital-audiencia a img{        
        opacity: 0.9;
        transition: opacity .1s;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        cursor: pointer;
    }
</style>