<<template>
    <div class="container">
        <div class="card pd-card pd-b">
            <div class="row pd-vd">
                <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                    <div class="tx-noticia texto-padrao">MÍDIAS</div>
                </div>
            </div><!-- row -->
            <div class="row">
                <div class="col-md-6 col-sm-12">                
                    <div id="carouselVideos" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselVideos" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselVideos" data-slide-to="1"></li>
                            <li data-target="#carouselVideos" data-slide-to="2"></li>
                            <li data-target="#carouselVideos" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="responsive-video">
                                    <iframe class="iframe-videos" src="https://www.youtube.com/embed/Wau3fkYca1g" scrolling="auto"></iframe>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="responsive-video">
                                    <iframe class="iframe-videos" src="https://www.youtube.com/embed/zNBTTqKU_28" scrolling="auto"></iframe>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="responsive-video">
                                    <iframe class="iframe-videos" src="https://www.youtube.com/embed/nMSgIl-Xbbk" scrolling="auto"></iframe>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="responsive-video">
                                    <iframe class="iframe-videos" src="https://www.youtube.com/embed/EestBWOCWRM" scrolling="auto"></iframe>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselVideos" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselVideos" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div><!--d-flex justify-content-start-->
                <div class="col-md-6 col-sm-12">                
                    <div class="d-flex justify-content-end">
                        <iframe :src="url_facebook" width="800" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>            
                </div><!--d-flex justify-content-end-->
            </div><!--row-->
        </div><!--pd-card-->
    </div><!--container-->
</template>

<script>
    export default {
        data(){
            return {
                url_facebook: '',
            }
        },

        mounted(){
            this.getUrlFacebook();
        },

        methods:{
            getUrlFacebook: function(){                
                axios.get('/api/restrito/facebook')
                .then(response => {
                    this.url_facebook = 'https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F' + response.data[0].url + '/&tabs=timeline&width=700&height=320&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId';                                        
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                }); 
            }            
        }
    }
</script>

<style>
    .iframe-videos{
        width:500px;
        height:303px;
    }

    .pd-vd{        
        padding-top: 5%;
        padding-bottom: 5%;    
    }

    .pd-b{
        padding-bottom: 5%;
    }
</style>
