<template>
    <div class="container pd-dir-top">
        <div class="row">            
            <div class="col-md-4 col-sm-4">
                <a class="text-light" href="/diario" target="_blank">
                    <div class="d-flex justify-content-center img-thumbnail bg-padrao">
                        <div class="direcional-padding text-center">
                            <i class="fas fa-book fa-4x"></i><br>
                            <p class="direcional-icons-text h3 text-light">Diário
                                <span class="font-weight-bold">Oficial</span>
                            </p>                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="d-flex justify-content-center img-thumbnail text-light bg-padrao">
                    <a href="https://www.transparencia.itapicuru.ba.gov.br" target="_blank">
                        <div class="direcional-padding text-center">
                            <i class="fas fa-chart-line fa-4x text-light"></i><br>
                            <p class="direcional-icons-text h3 text-light">Transparência
                                <span class="font-weight-bold">131</span>
                            </p>                            
                        </div>
                    </a>                    
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="d-flex justify-content-center img-thumbnail text-light bg-padrao">
                    <a href="https://www.transparencia.itapicuru.ba.gov.br" target="_blank">
                        <div class="direcional-padding text-center">
                            <i class="fas fa-file-alt fa-4x text-light"></i><br>
                            <p class="direcional-icons-text h3 text-light">Licitações
                                <span class="font-weight-bold">Contratações</span>
                            </p>                            
                        </div>
                    </a>                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
     .direcioanl-icons-text{
        font-size: 40px
    }    

    .direcional-padding{        
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pd-dir-top{
           padding-top: 5%;
    }
</style>