<<template>
    <div class="container di-pd-tr">        
        <div class="col-md-12 col-sm-12 bg-padrao text-center img-thumbnail">
            <a class="text-light" href="https://www.portaltransparencia.gov.br/localidades/2916500-itapicuru" target="_blank">
                <span class="text-principal">Portal da Transparência</span><br>
                <span>CONTROLADORIA-GERAL DA UNIÃO</span>
            </a>                
        </div>        
    </div>
</template>

<script>
    export default {

    }
</script>

<style>  
    .di-pd-tr{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .text-principal{
        font-size: 2.9em;
        font-weight: 800;
        line-height: 1;
        margin-top: -6px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        font-family: sans-serif;
    }
</style>