<<template>
    <div class="container di-pd-cm">        
        <div class="col-md-12 col-sm-12 bg-padrao text-center img-thumbnail">
            <a class="text-light" href="https://www.camaraitapicuru.ba.gov.br/ " target="_blank">
                <span class="text-principal">Portal da Câmara</span><br>
                <span>PODER LEGISLATIVO DE ITAPICURU</span>
            </a>                
        </div>        
    </div>
</template>

<script>
    export default {

    }
</script>

<style>  
    .di-pd-cm{
        padding-top: 5%;        
    }

    .di-pd-cm .text-principal{
        font-size: 2.9em;
        font-weight: 800;
        line-height: 1;
        margin-top: -6px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        font-family: sans-serif;
    }
</style>