<<template>
    <div id="edital-audiencia-2" class="container">
        <div class="zoom">
            <a href="https://www.youtube.com/watch?v=_OqB3N6CMKc&feature=emb_title&ab_channel=RygnerLimadeSouzaandrade" target="_blank">
              <img src="documentos/Audienica-Publica-2-Quadrimestre-2020.png" class="card-img-top">
            </a>
        </div>
    </div><!-- container --->
</template>


<style>    
    #edital-audiencia-2{
        padding-top: 5%;
        padding-bottom: 2.5%;    
    }

    #edital-audiencia-2 .zoom {
        overflow: hidden;
    }

    #edital-audiencia-2 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    #edital-audiencia-2 .zoom:hover img {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }   

    #edital-audiencia-2 a img{        
        opacity: 0.9;
        transition: opacity .1s;
        transition-property: opacity;
        transition-duration: 0.1s;
        transition-timing-function: ease;
        transition-delay: 0s;
        cursor: pointer;
    }
</style>