<<template>
    <div id="tv-camara" class="container">
        <div v-for="(d, index) in datas">
            <hr>
            <div class="row" v-if="index % 2 === 0">
                <div class="col-md-7 d-flex align-content-center flex-wrap">
                    <a class="text-body">
                        <p class="h2 d-flex align-items-center text-body font-weight-bold">
                            {{d.descricao}}
                        <p class="texto-padrao font-weight-bold">{{d.data_convertida}}</p>
                        </p><br>
                    </a>
                </div><!-- col-md-7 -->
                <div class="col-md-5">
                    <div class="mbed-responsive embed-responsive-16by9">
                        <div class="d-flex justify-content-center">
                            <iframe class="embed-responsive-item" :src="'https://www.youtube.com/embed/' + d.url" scrolling="auto" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div><!-- col-md-5 -->
            </div><!-- row -->

            <div class="row" v-else>
                <div class="col-md-5">
                    <div class="mbed-responsive embed-responsive-16by9">
                        <div class="d-flex justify-content-center">
                            <iframe class="embed-responsive-item" :src="'https://www.youtube.com/embed/' + d.url" scrolling="auto" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div><!-- col-md-5 -->
                <div class="col-md-7 d-flex align-content-center flex-wrap">
                    <a class="text-body">
                        <p class="h2 d-flex align-items-center text-body font-weight-bold">
                            {{d.descricao}}
                        <p class="text-body font-weight-bold texto-padrao">{{d.data_convertida}}</p>
                        </p><br>
                    </a>
                </div><!-- col-md-5 -->
            </div><!-- row -->
        </div><!-- v-for -->
        <hr>

        <nav class="d-flex justify-content-center" aria-label="Navegação de página exemplo">
            <ul class="pagination">
                <!-- Validações do botão "Anterior"-->
                <li class="page-item disabled" v-if="pagination.current_page == 1">
                    <a class="page-link" href="#" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>
                <li class="page-item" v-else>
                    <a class="page-link" href="#" aria-label="Anterior" @click="getNoticias(pagination.prev_page_url)">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Anterior</span>
                    </a>
                </li>
                <!-- Validações do botão "Anterior"-->

                <!-- Validações do botões indicadores-->
                <li class="page-item active" v-for="page in pagination.last_page" v-if="pagination.current_page == page">
                    <a class="page-link" href="#">{{page}}</a>
                </li>
                <li class="page-item" v-else>
                    <a class="page-link" herf="#" @click="getNoticias(pagination.path+'?page='+page)">{{page}}</a>
                </li>
                <!-- Validações do botões indicadores-->

                <!-- Validações do botão "proximo"-->
                <li class="page-item disabled" v-if="pagination.current_page == pagination.last_page">
                    <a class="page-link" href="#" aria-label="Próximo">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </li>
                <li class="page-item" v-else>
                    <a class="page-link" href="#" aria-label="Próximo" @click="getNoticias(pagination.next_page_url)">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </li>
                <!-- Validações do botão "proximo"-->
            </ul>
        </nav>
    </div><!-- container -->
</template>

<script>
    export default {
        data(){
            return{
                datas: [],
                noticia: [],
                pagination: {},
            }
        },

        mounted() {
            this.getSessoesTvCamara();
        },
        methods:{
            getSessoesTvCamara: function($url){
                var url = $url || '/api/restrito/video/all';
                axios.get(url)
                .then(response => {
                    this.datas = response.data.data
                    this.sendPaginator(response.data);
                })
                .catch(error => {
                    console.log(error)
                });
            },

            sendPaginator: function(data){
                let pagination = {
                    current_page: data.current_page,
                    path: data.path,
                    last_page: data.last_page,
                    first_page_url: data.first_page_url,
                    next_page_url: data.next_page_url,
                    prev_page_url: data.prev_page_url
                }
                this.pagination = pagination;
            },

            findSessao: function($id){
                this.clear();
                var $url = '/api/restrito/video/' + $id;
                axios.get($url)
                .then(response => {
                    this.noticia = response.data
                    console.log(response.data);
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                });
            },
            clear:function(){
                this.noticia = [];
            },
        }
    }
</script>

<style>
    #tv-camara{
        padding-top: 7%;
    }

    #tv-camara .mbed-responsive iframe{
        width: 500px;
        height: 303px;
        border: none;
        overflow: hidden;
    }
</style>
