<<template>
    <div id="sessoes-tv" class="container">
        <div class="card">
            <div class="row">
                <div class="col-12 col-md-12 col-xs-12 col-12 d-flex justify-content-center vue-pd">
                    <div class="text-center">
                        <span class="tx-noticia texto-padrao">MÍDIAS</span>
                    </div><!-- text-center -->
                </div><!-- col-md-12 col-xs-12 col-12 -->
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6" v-for="s in sessoes">
                    <div class="mbed-responsive embed-responsive-16by9">
                        <div class="text-center mb-2">
                            <span class="texto-padrao font-weight-bold">{{s.descricao}}</span>
                        </div><!-- text-center -->
                        <div class="d-flex justify-content-center">
                            <iframe class="embed-responsive-item" :src="'https://www.youtube.com/embed/' + s.url" scrolling="auto" frameborder="0" allowfullscreen ></iframe>
                        </div>
                        <div class="text-center mt-2">
                            <span class="texto-padrao font-weight-bold">{{s.data_convertida}}</span>
                        </div><!-- text-center -->
                    </div>
                </div><br><!-- col-12 col-sm-12 col-md-6 col-lg-6 col-lx-6-->

                <div class="col-xl-12">
                    <div class="pb-3 d-flex justify-content-end mr-5 mt-5">
                        <a href="/videos" class="btn bg-padrao text-light" >VER MAIS</a>
                    </div><!-- pb-3 d-flex justify-content-end -->
                </div><!-- col-md-4 col-xs-12 mb-5 -->

            </div><!--row-->
        </div><!--card-->
    </div><!-- container -->
</template>

<script>
    export default {
        data(){
            return {
                sessoes: [],
            }
        },

        mounted(){
            this.getSessoesTvCamara();
        },

        methods:{
            getSessoesTvCamara: function($url){
                var url = $url || '/api/restrito/sessao2';
                axios.get(url)
                .then(response => {
                    this.sessoes = response.data
                })
                .catch(error => {
                    console.log(error)
                });
            },
        }
    }
</script>

<style>

    #sessoes-tv{
        padding-top: 7%;
        padding-bottom: 2.5%;
    }

    #sessoes-tv .card .row{
        padding-bottom: 3%;
    }

    #sessoes-tv .mbed-responsive iframe{
        width: 500px;
        height: 303px;
        border: none;
        overflow: hidden;
    }

    #sessoes-tv .vue-pd{
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #sessoes-tv .tx-midias{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }
</style>>