<<template>
    <div class="container pd-contato">
        <div class="row d-flex justify-content-center">            
            <p class="texto-padrao h2">CONTATOS ÚTEIS</p>                
        </div>

        
        <div class="row pd-card-f">        
        <!-- Grid column -->            
            <div class="col-md-4 col-sm-12 texto-padrao card pd-card-left" v-for="c in contatos">
                <div class="row">
                    <div class="pd-card-f">
                        <p class="font-weight-bold">
                            <i class="far fa-address-book fa-2x"></i>                             
                            CONTATO
                        </p>
                    </div><!--"" -->
                </div><!--row -->
                <div class="row d-flex justify-content-between pd-card-f">                    
                    <p class="tx-footer-2">
                        <span>{{c.nome}}</span>                  
                    </p>
                    <p class="tx-footer-2">
                        <span>{{c.numero}}</span>                    
                    </p>                                
                </div><!--row -->
            </div><!-- col-md-4 -->                          
        
            <div class="col-md-4 col-sm-12 texto-padrao card pd-card-left" v-if="estruturas" v-for="e in estruturas">
                <div class="row">
                    <div class="pd-card-f">
                        <p class="font-weight-bold">
                            <i class="far fa-address-book fa-2x"></i>                             
                            CONTATO
                        </p>
                    </div><!--"" -->
                </div><!--row -->
                <div class="row d-flex justify-content-between pd-card-f">                    
                    <p class="tx-footer-2">
                        <span>{{e.nome}}</span>                  
                    </p>
                    <p class="tx-footer-2">
                        <span>{{e.telefone}}</span>                    
                    </p>                                
                </div><!--row -->
            </div><!-- col-md-4 -->                          

            <div class="col-md-4 col-sm-12 texto-padrao card pd-card-left" v-if="unidades" v-for="u in unidades">
                <div class="row">
                    <div class="pd-card-f">
                        <p class="font-weight-bold">
                            <i class="far fa-address-book fa-2x"></i>                             
                            CONTATO
                        </p>
                    </div><!--"" -->
                </div><!--row -->
                <div class="row d-flex justify-content-between pd-card-f">                    
                    <p class="tx-footer-2">
                        <span>{{u.nome}}</span>                  
                    </p>
                    <p class="tx-footer-2">
                        <span>{{u.telefone}}</span>                    
                    </p>                                
                </div><!--row -->
            </div><!-- col-md-4 -->   
                                   
        </div><!-- Grid row --> 
    </div>
</template>

<script>
    export default {
        data(){
            return {
                contatos: [],
                estruturas: [],
                unidades: [],
            }
        },

        mounted(){
            this.getContatos();
            this.getEstrutura();
            this.getUnidade();
        },

        methods:{
            getContatos: function(){
                axios.get('/api/restrito/contato')
                .then(response => {
                    this.contatos = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                });  
            },
            getEstrutura: function(){
                axios.get('/api/restrito/estruturaadministrativa')
                .then(response => {
                    this.estruturas = response.data;                    
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },
            getUnidade: function(){
                axios.get('/api/restrito/unidadeadministrativa')
                .then(response => {
                    this.unidades = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });
            },
        },
    }
</script>

<style>
    .pd-contato{
        padding-top: 5%;
    }

    .pd-card-f{
        padding: 5%;
    }

    .pd-contato div div:hover{
        background-color: #C6C7C8;
    }   
</style>
