<<template>
    <div id="noticia-3" class="container pd-nt">
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="modalNoticias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mw-100" role="document">
                    <div class="modal-content card">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="close mt-3 mr-3 mb-3" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-header d-flex justify-content-center">
                            <div id="carouselNoticiasPopoup" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div v-for="(im, index) in nt.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                        <figure>
                                            <a :href="'storage/' + im.url_imagem" target="_blank">
                                                <img :src="'storage/' + im.url_imagem" class="card-img-top">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselNoticiasPopoup" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselNoticiasPopoup" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- modal-header -->
                        <div class="card-body">
                            <h5 class="card-title text-justify">{{nt.nome}}</h5>
                            <div class="d-flex justify-content-end">
                                <p class="texto-padrao font-weight-bold">{{nt.data}}</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-justify">
                                    <span v-html="nt.texto"></span>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao text-light" data-dismiss="modal">FECHAR</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal fade -->
        </div><!-- row -->
        <div class="card pd-card">
            <div class="row pd-bt">
                <div class="col-md-12 col-sm-12 d-flex justify-content-center">
                    <div class="tx-noticia texto-padrao">NOTÍCIAS</div>
                </div>
            </div><!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-12 mb-5" v-for="n in noticias">
                    <a href="#" data-toggle="modal" data-target="#modalNoticias" @click="findNoticia(n.id)">
                        <div class="thumb zoom d-flex justify-content-center">
                            <img class="" v-if="n.url_imagens[0]" :src="'storage/' + n.url_imagens[0].url_imagem">
                        </div><br>
                        <p class="h5 text-uppercase text-center text-body">{{n.nome}}</p>
                        <p class="text-justify text-body">
                            {{n.texto_resumido}}
                        </p>
                    </a>
                </div><!-- col-md-4 col-xs-12 mb-5 -->


                <div id="previsao-3" class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div id="carouselPrevisao-3" class="weather carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="current" style="background-image: url(../img/banner/banner-2.jpeg)">
                                    <div class="info">
                                        <p class="city">{{prev.city}}</p>
                                        <p class="temp">{{prev.temp}} ºC</p>
                                        <p class="description-1">{{prev.description}}</p>
                                        <p class="wind">Ventos:{{prev.wind_speedy}}</p>
                                        <p class="sunset">Pôr do Sol: {{prev.sunset}}</p>
                                    </div>
                                    <div class="icon col d-md-none d-lg-block">
                                        <span class="wi-day-sunny mx-lg-n4 mx-xl-n4 mx-sm-n1">
                                            <img v-if="prev.img_id" :src="'img/prev/' + prev.img_id + '.png'">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item" v-for="(px, index) in prox" v-if="index != 0">
                                <div class="current" style="background-image: url(../img/banner/banner-2.jpeg)">
                                    <div class="info">
                                        <p class="city">{{prev.city}}</p>
                                        <p class="temp">{{px.weekday}}</p>
                                        <p class="description-2">{{px.description}}</p>
                                        <p class="wind">Max:{{px.max}}</p>
                                        <p class="wind">Mix:{{px.max}}</p>
                                    </div>
                                    <div class="icon d-md-none d-lg-block col">
                                        <img v-if="px.img_id" :src="'imagens/prev/' + px.img_id + '.png'">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="future">
                            <a class="day active" data-target="#carouselPrevisao-3" data-slide-to="0">
                                <p class="font-weight-bold">Hoje</p>
                            </a>
                            <a class="day" v-for="(px, index) in prox" data-target="#carouselPrevisao-3" :data-slide-to="index" v-if="index != 0">
                                <p class="font-weight-bold">{{px.weekday}}</p>
                            </a>
                        </div>
                    </div>
                </div>


            </div><!-- row-->

            <div class="d-flex justify-content-end pd-nt-btn">
                <a href="/noticia" class="btn bg-padrao">VER MAIS</a>
            </div>
        </div><!-- card-->
    </div>
</template>

<script>
    export default {
        data(){
            return{
                nt: [],
                noticias: [],
                prev: [],
                prox: [],
                img_id: ''
            }
        },

        mounted() {
            this.getNoticias();
            this.getPrevisao();
        },

        methods:{
            findNoticia: function($id){
                this.clear();
                var $url = '/api/restrito/noticias/find/' + $id;
                axios.get($url)
                .then(response => {
                    this.nt = response.data
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                });
            },
            clear: function(){
                this.nt = [];
            },
            getNoticias: function(){
                axios.get('/api/restrito/noticia5')
                .then(response => {
                    this.noticias = response.data
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                });
            },
            getPrevisao: function(){
                axios.get('/api/restrito/previsao')
                .then(response => {
                    this.prev = response.data
                    this.prox = response.data["forecast"]
                    this.img_id = "img/prev/" + response.data.img_id + ".png";
                })
                .catch(error => {
                    console.log(response.data)
                    console.log(error)
                });
            }
        }
    }
</script>

<style>

    .pd-temp{
        padding-top: 15%;
    }

    .pd-bt{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .tx-noticia{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }

    .mb-5 .card-footer a{
        color: #212529;
    }

    .title-p{
        font-weight: bold;
        font-size: 12px;
    }
    .texto-p{
        font-size: 107%;
    }

    #hover-noticias div:hover{
        background-color: #C6C7C8;
    }

    .txt-in-carousel{
        text-shadow: black 0.1em 0.1em 0.2em;
        font-weight: bold;
    }

    .thumb img{
        height: 200px;
        width: auto;
    }

    .pd-card{
        padding-left: 5%;
        padding-right: 5%;
    }

    .pd-nt-btn{
        padding-bottom: 5%;
    }

    #carouselNoticiasPopoup img{
        height: 300px;
        width: auto;
    }

    #previsao-3 .row .card{
        padding-top: 2%
    }

    #previsao-3 .weather{
        display: flex;
        flex-flow: column wrap;
        box-shadow: 0px 1px 10px 0px #F8F8FF ;
        overflow: hidden;
    }

    #previsao-3 .weather .future .day:hover{
        color: #F8F8FF ;

    }

    #previsao-3 .weather .current .info{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        text-shadow: black 0.2em 0.2em 0.2em;
    }

    #previsao-3 .weather .current{
        background-size: cover;
        background-position: center;
        display: flex;
        flex-flow: row wrap;
        background-repeat: no-repeat;
        color: #F8F8FF;
        padding: 20px;
        opacity: 0.89;
    }

    #previsao-3 .weather .current .info p{
        margin-right: 1;
        margin-left: 1;
        margin-top: 1;
        margin-bottom: 1;
        padding-right: 1;
        padding-left: 1;
        padding-top: 1;
        padding-bottom: 1;
    }

    #previsao-3 .weather .current .info .city{
        font-size: 26px;
    }

    #previsao-3 .weather .current .info .temp{
        font-size: 44px;
    }

    #previsao-3 .weather .current .info .wind{
        font-size: 20px;
    }

    #previsao-3 .weather .current .info .sunset{
        font-size: 18px;
    }

    #previsao-3 .weather .current .info .description-1{
        font-size: 15px;
    }

     #previsao-3 .weather .current .info .description-2{
        font-size: 10px;
    }

    #previsao-3 .weather .current .icon{
        text-align: center;
        height: 100px;
        width: 10px;
        flex-grow: 1;
    }

     #previsao-3 .weather .current .icon img{
        max-width: 200px;
        height: auto;
        padding-top: 20%;
    }

    #previsao-3 .weather .future{
        display: flex;
        flex-flow: row nowrap;
    }

    #previsao-3 .weather .future .day{
        flex-grow: 1;
        text-align: center;
        cursor: pointer;
    }

    #previsao-3 .weather .future .day p{
        font-size: 10px;
        padding-top: 20%;
    }

    #previsao-3 .weather .future a:hover {
        background-color: #008744;
    }

    #noticia-3 .zoom {
        overflow: hidden;
    }

    #noticia-3 .zoom img {
        max-width: 100%;
        -moz-transition: all 0.1s;
        -webkit-transition: all 0.1s;
        transition: all 0.1s;
    }

    #noticia-3 .zoom:hover img {
        -moz-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
</style>
