<<template>
    <div class="container">
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="modalNoticiasS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog mw-100" role="document">
                <div class="modal-content card">
                    <div class="d-flex justify-content-end">
                            <button type="button" class="close mt-3 mr-3 mb-3" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-header d-flex justify-content-center">
                            <div id="carouselNoticiasPopoup" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div v-for="(im, index) in nt.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                        <figure>
                                            <a :href="'storage/' + im.url_imagem" target="_blank">
                                                <img :src="'storage/' + im.url_imagem" class="card-img-top">
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselNoticiasPopoup" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselNoticiasPopoup" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div><!-- modal-header -->
                        <div class="card-body">
                            <h5 class="card-title text-justify">{{nt.nome}}</h5>
                            <div class="d-flex justify-content-end">
                                <p class="texto-padrao font-weight-bold">{{nt.data}}</p>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-justify">
                                    <span v-html="nt.texto"></span>
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao text-light" data-dismiss="modal">FECHAR</button>
                        </div>
                    </div><!-- modal-content -->
                </div><!-- modal-dialog -->
            </div><!-- modal fade -->
        </div><!-- row -->
        <div class="row pd-nt">
            <div class="col-md-8 mb-5">
                <div>
                    <span class="tx-noticia texto-padrao">DESTAQUES</span>
                </div>
                <div id="carouselNoticias" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselNoticias" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselNoticias" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item"  v-for="(n, index) in noticia" :class="{active: index == 0}">
                            <img class="d-block w-100 mx-mi-img-2" v-if="n.url_imagens[0]" :src="'storage/' + n.url_imagens[0].url_imagem">
                            <img class="d-block w-100 mx-mi-img-2" v-else src="img/banner/banner-1.jpeg">
                            <div class="carousel-caption d-none d-md-block txt-in-carousel">
                                <a class="text-light" href="#" data-toggle="modal" data-target="#modalNoticiasS" @click="findNoticia(n.id)">
                                    <h5 class="text-light">{{n.nome}}</h5>
                                    <p>{{n.texto_resumido}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselNoticias" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselNoticias" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-5">
                <div>
                    <span class="tx-noticia texto-padrao">MAIS NOTÍCIAS</span>
                </div>
                <div class="card" id="hover-noticias">
                    <div class="card-footer" v-for="ns in noticias">
                        <p class="title-p texto-padrao">{{ns.data}}</p>
                        <a class="texto-p" href="#" data-toggle="modal" data-target="#modalNoticiasS" @click="findNoticia(ns.id)">
                            {{ns.texto_resumido}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                nt: [],
                noticia: [],
                noticias: [],
            }
        },

        mounted() {
            axios.get('/api/restrito/noticia2')
            .then(response => {
                this.noticia = response.data
            })
            .catch(error => {
                alert(error);
                console.log(error);
            });
            axios.get('/api/restrito/noticia3')
            .then(response => {
                this.noticias = response.data
            })
            .catch(error => {
                alert(error);
                console.log(error);
            });
        },

        methods:{
            findNoticia: function($id){
                var $url = '/api/restrito/noticias/find/' + $id;
                axios.get($url)
                .then(response => {
                    this.nt = response.data
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                });
            },
        }
    }
</script>

<style>
    .tx-noticia{
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
        font-weight: bold;
    }

    .pd-nt{
        padding-top: 5%;
    }

    .mb-5 .card-footer a{
        color: #212529;
    }

    .title-p{
        font-weight: bold;
        font-size: 12px;
    }
    .texto-p{
        font-size: 107%;
    }

    #hover-noticias div:hover{
        background-color: #C6C7C8;
    }

    .txt-in-carousel{
        text-shadow: black 0.1em 0.1em 0.2em;
        font-weight: bold;
    }

    .mx-mi-img-2{
        width:550px;
        height:500px;
    }

    #modalNoticiasS img{
        height: 300px;
        width: auto;
    }

</style>
