<<template>
    <div class="nt-pd">
        <div class="container">
            <div class="row">
                <!-- Modal -->
                <div class="modal fade" id="modalNoticias" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog mw-100" role="document">
                        <div class="modal-content card">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="close mt-3 mr-3 mb-3" data-dismiss="modal" aria-label="Fechar">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-header d-flex justify-content-center">
                                <div id="carouselNoticiasPopoupAll" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div v-for="(img, index) in noticia.url_imagens" :class="{active: index == 0}" class="carousel-item">
                                            <figure>
                                                <a :href="'storage/' + img.url_imagem" target="_blank">
                                                    <img :src="'storage/' + img.url_imagem" class="card-img-top">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselNoticiasPopoupAll" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselNoticiasPopoupAll" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div><!-- modal-header -->
                            <div class="card-body">
                                <h5 class="card-title text-justify">{{noticia.nome}}</h5>
                                <div class="d-flex justify-content-end">
                                    <p class="texto-padrao font-weight-bold">{{noticia.data}}</p>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">
                                        <span v-html="noticia.texto"></span>
                                    </p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn bg-padrao text-light" data-dismiss="modal">FECHAR</button>
                            </div>
                        </div><!-- modal-content -->
                    </div><!-- modal-dialog -->
                </div><!-- modal fade -->
            </div><!-- row -->

            <div id="noticias-all" v-for="(d, index) in datas">
                <hr>
                <div class="row" v-if="index % 2 === 0">
                    <div class="col-md-7 d-flex align-content-center flex-wrap">
                        <a href="#" class="text-body" data-toggle="modal" data-target="#modalNoticias" @click="findNoticia(d.id)">
                            <p class="h2 d-flex align-items-center text-body">
                                {{d.nome}}
                            </p><br>
                            <p class="text-body">{{d.texto_resumido}}</p>
                        </a>
                    </div><!-- col-md-7 -->
                    <div class="col-md-5 d-flex justify-content-center">
                        <img class="featurette-image" v-if="d.url_imagens[0]" :src="'storage/' + d.url_imagens[0].url_imagem" data-holder-rendered="true">
                        <img class="featurette-image" v-else src="img/banner/banner.jpeg"e data-holder-rendered="true">
                    </div><!-- col-md-5 -->
                </div><!-- row -->

                <div class="row" v-else>
                    <div class="col-md-5 d-flex justify-content-center">
                        <img class="featurette-image" v-if="d.url_imagens[0]" :src="'storage/' + d.url_imagens[0].url_imagem" data-holder-rendered="true">
                        <img class="featurette-image" v-else src="img/banner/banner-1.jpeg" data-holder-rendered="true">
                    </div><!-- col-md-5 -->
                    <div class="col-md-7 d-flex align-content-center flex-wrap">
                        <a href="#" class="text-body" data-toggle="modal" data-target="#modalNoticias" @click="findNoticia(d.id)">
                            <p class="h2 d-flex align-items-center text-body">
                                {{d.nome}}
                            </p><br>
                            <p class="text-body">{{d.texto_resumido}}</p>
                        </a>
                    </div><!-- col-md-5 -->
                </div><!-- row -->
            </div><!-- v-for -->
            <hr>
            <nav class="d-flex justify-content-center" aria-label="Navegação de página exemplo">
                <ul class="pagination">
                    <!-- Validações do botão "Anterior"-->
                    <li class="page-item disabled" v-if="pagination.current_page == 1">
                        <a class="page-link" href="#" aria-label="Anterior">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                    <li class="page-item" v-else>
                        <a class="page-link" href="#" aria-label="Anterior" @click="getNoticias(pagination.prev_page_url)">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                    <!-- Validações do botão "Anterior"-->

                    <!-- Validações do botões indicadores-->
                    <li class="page-item active" v-for="page in pagination.last_page" v-if="pagination.current_page == page">
                        <a class="page-link" href="#">{{page}}</a>
                    </li>
                    <li class="page-item" v-else>
                        <a class="page-link" herf="#" @click="getNoticias(pagination.path+'?page='+page)">{{page}}</a>
                    </li>
                    <!-- Validações do botões indicadores-->

                    <!-- Validações do botão "proximo"-->
                    <li class="page-item disabled" v-if="pagination.current_page == pagination.last_page">
                        <a class="page-link" href="#" aria-label="Próximo">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </li>
                    <li class="page-item" v-else>
                        <a class="page-link" href="#" aria-label="Próximo" @click="getNoticias(pagination.next_page_url)">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </li>
                    <!-- Validações do botão "proximo"-->
                </ul>
            </nav>
        </div><!-- container -->
    </div><!-- nt-pd -->
</template>

<script>
    export default {
        data(){
            return{
                datas: [],
                noticia: [],
                pagination: {},
            }
        },

        mounted() {
            this.getNoticias();
        },
        methods:{
            getNoticias: function($url){
                var url = $url || '/api/restrito/noticias/all';
                axios.get(url)
                .then(response => {
                    this.datas = response.data.data
                    this.sendPaginator(response.data);
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                });
            },
            sendPaginator: function(data){
                let pagination = {
                    current_page: data.current_page,
                    path: data.path,
                    last_page: data.last_page,
                    first_page_url: data.first_page_url,
                    next_page_url: data.next_page_url,
                    prev_page_url: data.prev_page_url
                }
                this.pagination = pagination;
            },
            findNoticia: function($id){
                this.clear();
                var $url = '/api/restrito/noticias/find/' + $id;
                axios.get($url)
                .then(response => {
                    this.noticia = response.data
                    console.log(response.data);
                })
                .catch(error => {
                    alert(error);
                    console.log(error)
                });
            },
            clear:function(){
                this.noticia = [];
            },
        }
    }
</script>

<style>
    .nt-pd{
        padding-top: 5%;
        padding-bottom: 5%
    }

    #carouselNoticiasPopoupAll img{
        height: 300px;
        width: auto;
    }

    #noticias-all img{
        height: 300px;
        width: auto;
    }
</style>
