<<template>
<<<<<<< HEAD
    <div class="container dp-trasn">
        <div class="row">
            <!-- Modal -->
            <div class="modal fade" id="transparenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clear()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <div id="spinner-show" class="">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border texto-padrao" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <iframe :src="buscar" frameborder="0" width="100%" height="550px;"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao text-light" data-dismiss="modal" @click="clear()">FECHAR</button>
=======
    <div id="card-3" class="container">
        <div class="row d-flex justify-content-center">
            <p class="cor-texto-padrao titulo-1">TRANSPARÊNCIA</p>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="transparenciaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pr-3" data-dismiss="modal" aria-label="Close" @click="clear()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div id="spinner-show" class="">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border cor-texto-padrao" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        </div>
                        <iframe :src="buscar" frameborder="0" width="100%" height="550px;"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-padrao text-light" data-dismiss="modal" @click="clear()">FECHAR</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODAL-XL -->

<<<<<<< HEAD
            <!-- Modal -->
            <div class="modal fade" id="transparenciaModal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clear()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center">
                                <div id="spinner-show-lg" class="">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border texto-padrao" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <iframe :src="buscar" frameborder="0" width="100%" height="550px"></iframe>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao text-light" data-dismiss="modal" @click="clear()">FECHAR</button>
=======
        <!-- Modal -->
        <div class="modal fade" id="transparenciaModal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pr-3" data-dismiss="modal" aria-label="Close" @click="clear()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="d-flex justify-content-center">
                            <div id="spinner-show-lg" class="">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border cor-texto-padrao" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        </div>
                        <iframe :src="buscar" frameborder="0" width="100%" height="550px"></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn bg-padrao text-light" data-dismiss="modal" @click="clear()">FECHAR</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- EDITAL-ALL -->
        <div class="row">
        <!-- Modal -->
            <div class="modal fade" id="editalModalAll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
<<<<<<< HEAD
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clear()">
=======
                            <button type="button" class="close pr-3" data-dismiss="modal" aria-label="Close" @click="clear()">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
<<<<<<< HEAD
                                        <th scope="col" class="texto-padrao">DATA DA LICITAÇÃO</th>
                                        <th scope="col" class="texto-padrao">MODALIDADE</th>
                                        <th scope="col" class="texto-padrao">OBEJTO</th>
                                        <th scope="col" class="texto-padrao">ANEXOS</th>
=======
                                        <th scope="col" class="cor-texto-padrao">DATA DA LICITAÇÃO</th>
                                        <th scope="col" class="cor-texto-padrao">MODALIDADE</th>
                                        <th scope="col" class="cor-texto-padrao">OBEJTO</th>
                                        <th scope="col" class="cor-texto-padrao">ANEXOS</th>
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(d, index) in datas">
                                        <td class="align-middle">{{d.data_convertida}}</td>
                                        <td class="align-middle">{{d.modalidade}}</td>
                                        <td>{{d.objeto}}</td>
                                        <td class="align-middle">
                                            <a href="#" class="cor-texto-padrao" data-toggle="collapse" :data-target="'#anexosModal' + d.id" aria-expanded="false" :aria-controls="'anexosModal' + d.id" @click="getAnexosEdital()">
                                                <i class="fas fa-file-archive fa-4x"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="collapse" :id="'anexosModal' + d.id">
                                                <div v-for="anx in d.url_anexos">
                                                    <a :href="'/licitacao/edital/cadastro/' + anx.id" target="_blank" class="card card-body" >
                                                        <i class="far fa-file-pdf text-danger"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <hr>
                        <nav class="d-flex justify-content-center" aria-label="Navegação de página exemplo">
                            <ul class="pagination">
                                <!-- Validações do botão "Anterior"-->
                                <li class="page-item disabled" v-if="pagination.current_page == 1">
                                    <a class="page-link" href="#" aria-label="Anterior">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                </li>
                                <li class="page-item" v-else>
                                    <a class="page-link" href="#" aria-label="Anterior" @click="getEditalAll(pagination.prev_page_url)">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Anterior</span>
                                    </a>
                                </li>
                                <!-- Validações do botão "Anterior"-->

                                <!-- Validações do botões indicadores-->
                                <li class="page-item active" v-for="page in pagination.last_page" v-if="pagination.current_page == page">
                                    <a class="page-link" href="#">{{page}}</a>
                                </li>
                                <li class="page-item" v-else>
                                    <a class="page-link" herf="#" @click="getEditalAll(pagination.path+'?page='+page)">{{page}}</a>
                                </li>
                                <!-- Validações do botões indicadores-->

                                <!-- Validações do botão "proximo"-->
                                <li class="page-item disabled" v-if="pagination.current_page == pagination.last_page">
                                    <a class="page-link" href="#" aria-label="Próximo">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Próximo</span>
                                    </a>
                                </li>
                                <li class="page-item" v-else>
                                    <a class="page-link" href="#" aria-label="Próximo" @click="getEditalAll(pagination.next_page_url)">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Próximo</span>
                                    </a>
                                </li>
                                <!-- Validações do botão "proximo"-->
                            </ul>
                        </nav>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao text-light" data-dismiss="modal" @click="clear()">FECHAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
        <!-- EDITAL-ALL -->

        <!-- EDITAL-YEAR -->
        <div class="row">
        <!-- Modal -->
            <div class="modal fade" id="editalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
<<<<<<< HEAD
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="clear()">
=======
                            <button type="button" class="close pr-3" data-dismiss="modal" aria-label="Close" @click="clear()">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row card"  v-for="(mes, index) in meses">
                                <div class="col-lg-12 h3 cor-texto-padrao text-center">{{mes}}</div>
                                <div class="col-lg-12">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col" >DATA DA LICITAÇÃO</th>
                                                <th scope="col" >MODALIDADE</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                <th scope="col" >OBEJTO</th>
                                                <th scope="col" >ANEXOS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="d in year" v-if=" index + 1 == d.mes_licitacao && ano_atual === d.ano_licitacao">
                                                <td class="align-middle">{{d.data_convertida}}</td>
                                                <td class="align-middle">{{d.modalidade}}</td>
                                                <td></td>
                                                <td></td>
                                                <td>{{d.objeto}}</td>
                                                <td class="align-middle">
                                                    <a href="#" class="cor-texto-padrao" data-toggle="collapse" :data-target="'#anexosModal' + d.id" aria-expanded="false" :aria-controls="'anexosModal' + d.id" @click="getAnexosEdital()">
                                                        <i class="fas fa-file-archive fa-4x"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <div class="collapse" :id="'anexosModal' + d.id">
                                                        <div v-for="anx in d.url_anexos">
                                                            <a :href="'/licitacao/edital/cadastro/' + anx.id" target="_blank" class="card card-body" >
                                                                <i class="far fa-file-pdf text-danger"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- row -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn bg-padrao text-light" data-dismiss="modal" @click="getEditalAll()">TODAS</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="clear()">FECHAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
        <!-- EDITAL-YEAR -->
        <div class="row">    
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal" @click="getReceitas()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-chart-line fa-4x"></i><br>
                        <p class="font-weight-bold h2">Receita</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal" @click="getDespesas()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-donate fa-4x"></i><br>
                        <p class="font-weight-bold h2">Despesa</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal" @click="getSalarios()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-money-check-alt fa-4x"></i><br>
                        <p class="font-weight-bold h2">Salário</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
<!--
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal" @click="getDiarias()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-coins fa-4x"></i><br>
                        <p class="font-weight-bold h2">Diária</p>
                    </div>
                </a>
            </div>        
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal" @click="getFolha()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-file-invoice-dollar fa-4x"></i><br>
                        <p class="font-weight-bold h2">Folha</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center
-->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getRREO()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-file-invoice fa-4x"></i><br>
                        <p class="font-weight-bold h2">RREO e RGF</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getRGF()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getRGF()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-hand-holding-usd fa-4x"></i><br>
                        <p class="font-weight-bold h2">RREO e RGF</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLDO()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="fas fa-comments-dollar fa-4x"></i><br>
                        <p class="transparencia-icons-text">LDO</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPPA()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->

            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPPA()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="far fa-calendar-alt fa-4x"></i><br>
                        <p class="font-weight-bold h2">PPA</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLei()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLei()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-book fa-4x"></i><br>
                        <p class="font-weight-bold h2">Lei</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getDecreto()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getDecreto()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-book-open fa-4x"></i><br>
                        <p class="font-weight-bold h2">Decreto</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getAlvara()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getAlvara()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-word fa-4x"></i><br>
                        <p class="font-weight-bold h2">Alvará</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getEdt()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div>     <!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getEdt()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="far fa-file-word fa-4x"></i><br>
                        <p class="font-weight-bold h2">Edital</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getOficio()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="fas fa-file-pdf fa-4x"></i><br>
                        <p class="transparencia-icons-text">Ofício</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getDespacho()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="far fa-file-pdf fa-4x"></i><br>
                        <p class="transparencia-icons-text">Despacho</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPortaria()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getOficio()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-file-pdf fa-4x"></i><br>
                        <p class="font-weight-bold h2">Ofício</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPortaria()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-powerpoint fa-4x"></i><br>
                        <p class="font-weight-bold h2">Portaria</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getProjetoDeLei()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getProjetoDeLei()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="far fa-file-powerpoint fa-4x"></i><br>
                        <p class="font-weight-bold h2">Projeto de Lei</p>
                    </div>
                </a>
            </div>
<<<<<<< HEAD
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getResolucao()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="far fa-file fa-4x"></i><br>
                        <p class="transparencia-icons-text">Resolução</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getINEX()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======

            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getINEX()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-medical-alt fa-4x"></i><br>
                        <p class="font-weight-bold h2">Inexigibilidade</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getDIS()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getDIS()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-export fa-4x"></i><br>
                        <p class="font-weight-bold h2">Dispensa</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPE()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPE()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-import fa-4x"></i><br>
                        <p class="font-weight-bold h2">Pregão Eletrônico</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLEILAO()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLEILAO()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-hammer fa-4x"></i><br>
                        <p class="font-weight-bold h2">Leilão</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCONCURSO()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCONCURSO()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-archive fa-4x"></i><br>
                        <p class="font-weight-bold h2">Concurso</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPP()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPP()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file-alt fa-4x"></i><br>
                        <p class="font-weight-bold h2">Pregão Presencial</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getTP()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getTP()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-file fa-4x"></i><br>
                        <p class="font-weight-bold h2">Tomada de Preços</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCC()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCC()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="far fa-file-archive fa-4x"></i><br>
                        <p class="font-weight-bold h2">Convite</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCONCO()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCONCO()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="far fa-file fa-4x"></i><br>
                        <p class="font-weight-bold h2">Concorrência</p>
                    </div>
                </a>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getCRED()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-list-alt fa-4x"></i><br>
                        <p class="font-weight-bold h2">Credenciamento</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->

            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getContratos()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-file-pdf fa-4x"></i><br>
                        <p class="font-weight-bold h2">Contratos</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getTermoDeParceiria()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="fas fa-users fa-4x"></i><br>
                        <p class="transparencia-icons-text">Termo de Parceria</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getConcursoPublico()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="fas fa-book-reader fa-4x"></i><br>
                        <p class="transparencia-icons-text">Concurso Público</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPS()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getTermoDeParceiria()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-users fa-4x"></i><br>
                        <p class="font-weight-bold h2">Termo de Parceria</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->

            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getPS()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-book-open fa-4x"></i><br>
                        <p class="font-weight-bold h2">Processo Seletivo</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getConvenio()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getConvenio()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="far fa-bookmark fa-4x"></i><br>
                        <p class="font-weight-bold h2">Convênio</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getHOMO()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="fas fa-thumbs-up fa-4x"></i><br>
                        <p class="transparencia-icons-text">Homologação</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#"  data-toggle="modal" data-target="#editalModal" @click="getEdital()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
                        <i class="far fa-copy fa-4x"></i><br>
                        <p class="transparencia-icons-text">Edital de Licitação</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getAto_da_Presiencia()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a  data-toggle="modal" data-target="#editalModal" @click="getEdital()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="far fa-copy fa-4x"></i><br>
                        <p class="font-weight-bold h2">Edital de Licitação</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getAto_da_Presiencia()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-star-of-life fa-4x"></i><br>
                        <p class="font-weight-bold h2">Ato da Presidência</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getAto_de_pessoal()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-user-tie fa-4x"></i><br>
                        <p class="font-weight-bold h2">Ato de Pessoal</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->

            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLOA()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-landmark fa-4x"></i><br>
                        <p class="font-weight-bold h2">LOA</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getLDO()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-comments-dollar fa-4x"></i><br>
                        <p class="font-weight-bold h2">LDO</p>
                    </div>
                </a>
            </div>   <!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getResolucao()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="far fa-file fa-4x"></i><br>
                        <p class="font-weight-bold h2">Resolução</p>
                    </div>
                </a>
<<<<<<< HEAD
            </div>
            <div class="col-md-4 text-center tr-hv">
                <a href="#" data-toggle="modal" data-target="#transparenciaModal-lg" @click="getOutros()">
                    <div class="img-thumbnail transparencia-padding texto-padrao">
=======
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getConcursoPublico()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-book-reader fa-4x"></i><br>
                        <p class="font-weight-bold h2">Concurso Público</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getOutros()">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-users fa-4x text-light"></i><br>
                        <p class="font-weight-bold h2">Audiência Pública</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a data-toggle="modal" data-target="#transparenciaModal-lg" @click="getOutros()">
                    <div class="img-thumbnail bg-padrao text-light">
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                        <i class="fas fa-caret-square-right fa-4x"></i><br>
                        <p class="font-weight-bold h2">Outros</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
            <div class="col-xl-4 col-lg-4 col-md-4 text-center">
                <a href="#" target="_blank">
                    <div class="img-thumbnail bg-padrao text-light">
                        <i class="fas fa-archive fa-4x"></i><br>
                        <p class="font-weight-bold h2">Arquivos Eletrônicos</p>
                    </div>
                </a>
            </div><!-- col-xl-4 col-lg-4 col-md-4 text-center -->
        </div><br><!-- ROW -->

        <div class="d-none p-2 bg-primary text-white">
            <div id="load-show" class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
<<<<<<< HEAD
    </div>
=======
        </div>
    </div><!-- container -->
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
</template>
<script>
    export default {
        data(){
            return {
                im_url_entidade: 'month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09',
                im_url_base: 'https://impublicacoes.org/agenda/',
                im_131_url_entidade: 'ba_pm_itapicuru',
                buscar: '',
                datas: [],
                edital: [],
                year: [],
                pagination: {},
                ano_atual: '',
                meses: [
                    "JANEIRO",
                    "FEVEREIRO",
                    "MARÇO",
                    "ABRIL",
                    "MAIO",
                    "JUNHO",
                    "JULHO",
                    "AGOSTO",
                    "SETEMBRO",
                    "OUTUBRO",
                    "NOVEMBRO",
                    "DEZEMBRO",
                ],
            }
        },

        methods(){

        },

        methods:{
            clear: function(){
                this.buscar = '';
                this.addLoad();
                this.addLoadLG();
            },

            getReceitas: function(){
<<<<<<< HEAD
                this.buscar = 'http://impublicacoes.org/transparencia131/entidade/ba_pm_itapicuru/receita.php';
=======
                this.buscar = 'https://impublicacoes.org/transparencia131/entidade/' + this.im_131_url_entidade +'/receita.php';
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                this.removeLoad();
            },

            getSalarios: function(){
                this.buscar = 'https://www.tcm.ba.gov.br/portal-da-cidadania/pessoal/?id_mun=2916500';
                this.removeLoad();
            },

            getDespesas: function(){
<<<<<<< HEAD
                this.buscar = 'http://impublicacoes.org/transparencia131/entidade/ba_pm_itapicuru/despesa.php';
=======
                this.buscar = 'https://impublicacoes.org/transparencia131/entidade/' + this.im_131_url_entidade +'/despesa.php';
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                this.removeLoad();
            },

            getFolha: function(){
<<<<<<< HEAD
                this.buscar = 'http://www.fatorsistemas.com.br/fatorrh/FolhaPagamento/index_2.php?pm=itapicuru';
=======
                this.buscar = 'https://www.fatorsistemas.com.br/fatorrh/FolhaPagamento/index_2.php?cm=cmaramari';
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                this.removeLoad();
            },

            getDiarias: function(){
<<<<<<< HEAD
                this.buscar = 'http://impublicacoes.org/transparencia131/entidade/ba_pm_itapicuru/diarias.php';
=======
                this.buscar = 'https://impublicacoes.org/transparencia131/entidade/' + this.im_131_url_entidade +'/diarias.php';
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                this.removeLoad();
            },

            getRREO: function(){
<<<<<<< HEAD
                this.buscar = 'http://impublicacoes.org/agenda/rreo.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getRGF: function(){
                this.buscar = 'http://impublicacoes.org/agenda/rgf.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getLOA: function(){
                this.buscar = 'http://impublicacoes.org/agenda/loa.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getLDO: function(){
                this.buscar = 'http://impublicacoes.org/agenda/ldo.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getPPA: function(){
                this.buscar = 'http://impublicacoes.org/agenda/ppa.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getLei: function(){
                this.buscar = 'http://impublicacoes.org/agenda/leis.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getDecreto: function(){
                this.buscar = 'http://impublicacoes.org/agenda/decretos.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getAlvara: function(){
                this.buscar = 'http://impublicacoes.org/agenda/alvaras.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getEdt: function(){
                this.buscar = 'http://impublicacoes.org/agenda/edital.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getOficio: function(){
                this.buscar = 'http://impublicacoes.org/agenda/oficio.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getDespacho: function(){
                this.buscar = 'http://impublicacoes.org/agenda/despachos.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getPortaria: function(){
                this.buscar = 'http://impublicacoes.org/agenda/portaria.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getProjetoDeLei: function(){
                this.buscar = 'http://impublicacoes.org/agenda/pl.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getResolucao: function(){
                this.buscar = 'http://impublicacoes.org/agenda/resolucoes.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getINEX: function(){
                this.buscar = 'http://impublicacoes.org/agenda/inexigibilidade.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getDIS: function(){
                this.buscar = 'http://impublicacoes.org/agenda/dispensa.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getPE: function(){
                this.buscar = 'http://impublicacoes.org/agenda/pe.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getLEILAO: function(){
                this.buscar = 'http://impublicacoes.org/agenda/leilao.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getCONCURSO: function(){
                this.buscar = 'http://impublicacoes.org/agenda/concurso.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getPP: function(){
                this.buscar = 'http://impublicacoes.org/agenda/pp.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getTP: function(){
                this.buscar = 'http://impublicacoes.org/agenda/tp.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getCC: function(){
                this.buscar = 'http://impublicacoes.org/agenda/convite.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getCONCO: function(){
                this.buscar = 'http://impublicacoes.org/agenda/concorrencia.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getCRED: function(){
                this.buscar = 'http://impublicacoes.org/agenda/credenciamento.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getTermoDeParceiria: function(){
                this.buscar = 'http://impublicacoes.org/agenda/termo_de_parceria.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getConcursoPublico: function(){
                this.buscar = 'http://impublicacoes.org/agenda/concurso_publico.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getPS: function(){
                this.buscar = 'http://impublicacoes.org/agenda/processo_seletivo.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getConvenio: function(){
                this.buscar = 'http://impublicacoes.org/agenda/convenio.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getContratos: function(){
                this.buscar = 'http://impublicacoes.org/agenda/contratos.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getHOMO: function(){
                this.buscar = 'http://impublicacoes.org/agenda/homologacao.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getAto_da_Presiencia: function(){
                this.buscar = 'http://impublicacoes.org/agenda/atos_da_presidencia.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getAto_de_pessoal: function(){
                this.buscar = 'http://impublicacoes.org/agenda/atos_de_pessoal.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            getOutros: function(){
                this.buscar = 'http://impublicacoes.org/agenda/outros.php?month=9&year=2019&type=pref&municipio=TWpreE5qVXdNQT09&corpo';
                this.removeLoadLG();
            },

            removeLoad: function(){
                var nd = document.getElementById('spinner-show');
                $().ready(function() {
                    setTimeout(function () {
                        nd.classList.add("d-none");
                    }, 2900); // O valor é representado em milisegundos.
                });
            },

            addLoad: function(){
                var nd = document.getElementById('spinner-show');
                nd.classList.remove("d-none");
=======
                this.buscar = 'https://impublicacoes.org/agenda/rreo.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getRREO: function(){
                this.buscar = this.im_url_base + 'rreo.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getRGF: function(){
                this.buscar = this.im_url_base + 'rgf.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getLOA: function(){
                this.buscar = this.im_url_base + 'loa.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getLDO: function(){
                this.buscar = this.im_url_base + 'ldo.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getPPA: function(){
                this.buscar = this.im_url_base + 'ppa.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getLei: function(){
                this.buscar = this.im_url_base + 'leis.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getDecreto: function(){
                this.buscar = this.im_url_base + 'decretos.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getAlvara: function(){
                this.buscar = this.im_url_base + 'alvaras.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getEdt: function(){
                this.buscar = this.im_url_base + 'edital.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getOficio: function(){
                this.buscar = this.im_url_base + 'oficio.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getDespacho: function(){
                this.buscar = this.im_url_base + 'despachos.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getPortaria: function(){
                this.buscar = this.im_url_base + 'portaria.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getProjetoDeLei: function(){
                this.buscar = this.im_url_base + 'pl.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getResolucao: function(){
                this.buscar = this.im_url_base + 'resolucoes.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getINEX: function(){
                this.buscar = this.im_url_base + 'inexigibilidade.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getDIS: function(){
                this.buscar = this.im_url_base + 'dispensa.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getPE: function(){
                this.buscar = this.im_url_base + 'pe.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getLEILAO: function(){
                this.buscar = this.im_url_base + 'leilao.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getCONCURSO: function(){
                this.buscar = this.im_url_base + 'concurso.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getPP: function(){
                this.buscar = this.im_url_base + 'pp.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getTP: function(){
                this.buscar = this.im_url_base + 'tp.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getCC: function(){
                this.buscar = this.im_url_base + 'convite.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getCONCO: function(){
                this.buscar = this.im_url_base + 'concorrencia.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getCRED: function(){
                this.buscar = this.im_url_base + 'credenciamento.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getContratos: function(){
                this.buscar = this.im_url_base + 'contratos.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getTermoDeParceiria: function(){
                this.buscar = this.im_url_base + 'termo_de_parceria.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getConcursoPublico: function(){
                this.buscar = this.im_url_base + 'concurso_publico.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getPS: function(){
                this.buscar = this.im_url_base + 'processo_seletivo.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getConvenio: function(){
                this.buscar = this.im_url_base + 'convenio.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getHOMO: function(){
                this.buscar = this.im_url_base + 'homologacao.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getAto_da_Presiencia: function(){
                this.buscar = this.im_url_base + 'atos_da_presidencia.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getAto_de_pessoal: function(){
                this.buscar = this.im_url_base + 'atos_de_pessoal.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
            },

            getOutros: function(){
                this.buscar = this.im_url_base + 'outros.php?' + this.im_url_entidade + '&corpo';
                this.removeLoadLG();
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
            },

            removeLoadLG: function(){
                var nd = document.getElementById('spinner-show-lg');
                $().ready(function() {
                    setTimeout(function () {
                        nd.classList.add("d-none");
                    }, 1000); // O valor é representado em milisegundos.
                });
            },

            addLoadLG: function(){
                var nd = document.getElementById('spinner-show-lg');
                nd.classList.remove("d-none");
            },

            getEdital: function($url){
                var url = $url || '/api/restrito/editais/all';
                axios.get(url)
                .then(response => {
                    this.year = response.data.data
                    this.ano_atual = response.data.data[0].ano_atual
                })
                .catch(error => {
<<<<<<< HEAD
=======
                    //alert(error);
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
                    console.log(error)
                });
            },

            getEditalAll: function($url){
                $().ready(function() {
                    setTimeout(function () {
                        $('#editalModalAll').modal('show');
                    }, 350); // O valor é representado em milisegundos.
                });
                var url = $url || '/api/restrito/editais/paginate';
                axios.get(url)
                .then(response => {
                    this.datas = response.data.data
                    this.sendPaginator(response.data);
                })
                .catch(error => {
                    //alert(error);
                    console.log(error)
                });
            },

            sendPaginator: function(data){
                let pagination = {
                    current_page: data.current_page,
                    path: data.path,
                    last_page: data.last_page,
                    first_page_url: data.first_page_url,
                    next_page_url: data.next_page_url,
                    prev_page_url: data.prev_page_url
                }
                this.pagination = pagination;
            },

            findEdital: function($id){
                this.clear();
                var $url = '/api/restrito/editais/find/' + $id;
                axios.get($url)
                .then(response => {
                    this.edital = response.data
                    console.log(response.data);
                })
                .catch(error => {
<<<<<<< HEAD
                    console.log(error)
                });
            },
=======
                    //alert(error);
                    console.log(error)
                });
            },

            removeLoad: function(){
                var nd = document.getElementById('spinner-show');
                $().ready(function() {
                    setTimeout(function () {
                        nd.classList.add("d-none");
                    }, 2900); // O valor é representado em milisegundos.
                });
            },

            addLoad: function(){
                var nd = document.getElementById('spinner-show');
                nd.classList.remove("d-none");
            },
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722
        }
    }
</script>
<style>
<<<<<<< HEAD
    .transparencia-icons-text{
        font-size: 35px
    }
=======
>>>>>>> 9609ca2e0a75c3c07889ea8fcf999863fef0e722

    #card-3{
        padding-top: 7%;
        padding-bottom: 5%;
    }

    #card-3 .img-thumbnail{
        padding-top: 15%;
        padding-bottom: 10%;
    }

    #card-3 .img-thumbnail:hover{
        opacity: 0.9;
        font-style: italic;
        cursor: pointer;
    }

    #card-3 .col-md-4{
        padding-bottom: 3%;
    }

    #card-3 .col-lg-4{
        padding-bottom: 3%;
    }

    #card-3 .col-xl-4{
        padding-bottom: 3%;
    }

    #card-3 .titulo-1
    {
        font-weight: bolder;
        font-size: 200%;
        font-family: open sans,sans-serif;
    }
</style>
