<<template>
    <div class="container gestao-pd">
        <div class="card border-secondary ges-pd-top">
            <div class="row" v-for="p in prefeito">
                <div class="col-md-12 text-center">
                    <span class="tx-noticia texto-padrao">{{p.nome}}</span>
                </div><br/>
                <div class="col-md-12 pad-top">
                    <div v-if="p.url_imagem">
                        <img class="rounded img-fluid float-left pull-left mr-2" :src="'storage/' + p.url_imagem" height="400px" width="500px">
                    </div>
                    <div v-else>
                        <img class="rounded img-fluid float-left pull-left mr-2" src="img/banner/banner-1.jpeg" height="400px" width="500px">
                    </div>
                    <div class="">
                        <h5>{{p.descricao}}</h5>
                        <p class="text-justify">{{p.texto}}</p>
                    </div>
                </div>
            </div><br>
        </div><br>

        <div class="card border-secondary ges-pd-top">
            <div class="row" v-for="vp in vice">
                <div class="col-md-12 text-center">
                    <span class="tx-noticia texto-padrao">{{vp.nome}}</span>
                </div><br/>
                <div class="col-md-12 pad-top">
                    <div v-if="vp.url_imagem">
                        <img class="rounded img-fluid float-left pull-left mr-2" :src="'storage/' + vp.url_imagem" height="400px" width="500px">
                    </div>                  
                    <div v-else>
                        <img class="rounded img-fluid float-left pull-left mr-2" src="img/banner/banner-1.jpeg" height="400px" width="500px">
                    </div>  
                    <div class="">
                        <h5>{{vp.descricao}}</h5>
                        <p class="text-justify">{{vp.texto}}</p>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
        
</template>

<script>
    export default {
        data(){
            return{
                prefeito: [],
                vice: []
            }
        },        

        mounted() {                  
            this.getPrefeito();
            this.getVicePrefeito();            
        }, 

        methods:{
            getPrefeito: function(){
                axios.get('/api/restrito/prefeito')
                .then(response => {
                    this.prefeito = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                }); 
            },
            getVicePrefeito: function(){
                axios.get('/api/restrito/viceprefeito')
                .then(response => {
                    this.vice = response.data                
                })
                .catch(error => {
                    alert(error);
                    console.log(error);
                });  
            },
            getScrul: function(){
                
            }
        }
    }
</script>

<style>
    .gestao-pd{
        padding-top: 5%;
        padding-bottom: 5%
    }

    .ges-pd-top{
        padding: 5%;
    }
</style>