<<template>
    <div id="calendario-1" class="container">
        <div class="row"> 
        <!-- Modal -->
          <div class="modal fade" id="modalCalendar" tabindex="-1" role="dialog" aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title cor-texto-padrao" id="TitulomodalCalendar">EVENTO</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true" @click="clear()">&times;</span>
                  </button>
                </div>
                <div class="modal-body" v-for="e in events">
                  <div v-if="newEvent.event_id === e.id">
                    <p class="text-uppercase font-weight-bold text-body">
                      TÍTULO:
                      <span class="cor-texto-padrao">
                        {{newEvent.event_name}}
                      </span>
                    </p>
                    <p class="text-uppercase font-weight-bold">
                      INÍCIO:
                      <span class="cor-texto-padrao">
                        {{e.inicio}}
                      </span>
                    </p>
                    <p class="text-uppercase font-weight-bold">
                      FIM:
                      <span class="cor-texto-padrao">
                        {{e.fim}}
                      </span>
                    </p>
                  </div><!-- v-for -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn bg-padrao text-light" data-dismiss="modal"  @click="clear()">FECHAR</button>                  
                </div>
              </div>
            </div>
          </div>
        </div><!-- row -->
        

        <div class="card">
          <div class="row ">
            <div class="col-md-12">
                <p class="cor-texto-padrao titulo-1 text-center pt-4 pb-3">CALENDÁRIO</p>
              <div class="d-flex justify-content-center">
                <div class="calendar">
                  <FullCalendar locale="pt-br" @eventClick="showEvent" :plugins="calendarPlugins" :events="events"/>
                </div>
              </div>
            </div>            
          </div><!-- row -->  
        </div><!-- card -->  
    </div><!-- container -->    
</template>

<script>

  import Fullcalendar from "@fullcalendar/vue";
  import dayGridPlugin from "@fullcalendar/daygrid";
  import interactionPlugin from "@fullcalendar/interaction";
  

  export default {

    components: {
      Fullcalendar,      
    },

    data() {
      return {
        calendarPlugins: [dayGridPlugin, interactionPlugin],
        events: "",        
        newEvent: {
          evet_id: "",
          event_name: "",
          start_date: "",
          end_date: ""
        },
        addingMode: true,
        indexToUpdate: ""
      };
    },

    created() {
      this.getEvents();
    },

    methods: {
      addNewEvent() {
        axios
          .post("/api/calendar", {
            ...this.newEvent
          })
          .then(data => {
            this.getEvents(); // update our list of events
            this.resetForm(); // clear newEvent properties (e.g. title, start_date and end_date)
          })
          .catch(err =>
            console.log("Unable to add new event!", err.response.data)
          );
      },

      showEvent(arg) {
        this.addingMode = false;
        const { id, title, start, end } = this.events.find(
          event => event.id === +arg.event.id
        );
        this.newEvent = {
          event_name: title,
          start_date: start,
          end_date: end,
          event_id: id,
        };
        $().ready(function() {
          $('#modalCalendar').modal('show');
        });        
      },

      updateEvent() {      
      },

      deleteEvent() {        
      },

      getEvents() {
        axios
          .get("/api/restrito/calendar/events")
          .then(resp => (this.events = resp.data.data))
          .catch(err => console.log(err.response.data));
      },

      resetForm() {
        Object.keys(this.newEvent).forEach(key => {
          return (this.newEvent[key] = "");
        });
      },

      clear: function(){
        this.newEvent = {
          event_name: "",
          start_date: "",
          end_date: "",
          evet_id: "",
        };
      },
    },

    watch: {
      indexToUpdate() {
        return this.indexToUpdate;
      }
    },

  };
</script>

<style lang='scss'>

    @import '~@fullcalendar/core/main.css';
    @import '~@fullcalendar/daygrid/main.css';

    #calendario-1
    {        
      font-family: open sans,sans-serif;
    }

    #calendario-1 .titulo-1
    {
        font-weight: bolder;        
        font-size: 200%;
        font-family: open sans,sans-serif;
    }

    .calendar
    {
      height: auto;
      width: 50%;
    }

    #calendario-1 .card .row .calendar
    {        
      margin-bottom: 3.0%;
    }

    #calendario-1 .fc-title
    {
      color: #fff;
    }
    #calendario-1 .fc-title:hover
    {
      cursor: pointer;
    }

</style>