<<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-sx-12">
                <div class="barra-do-navbar"></div> 
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style>
    .barra-do-navbar{
        padding: 3.7%;
    }
</style>
