<<template>
    <nav class="navbar navbar-expand-lg bg-padrao">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <i class="fas fa-align-justify"></i>
        </button>        
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">            
            <ul class="navbar-nav mx-auto" v-for="m in menus">
                <li class="nav-item" v-if="m.sub_menu == false">
                    <a class="nav-link a-vue-style" v-bind:href="m.link">{{m.nome}}</a>
                </li>
                <li class="nav-item dropdown" v-else>
                    <a class="nav-link dropdown-toggle a-vue-style" v-bind:href="m.link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{m.nome}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span v-for="sm in sub_menus">
                            <a class="dropdown-item a-vue-style-2" v-if="sm.id_menu == m.id" :style="{'color': `${bg_cor}`}" v-bind:href="sm.link" target="_blank">{{sm.nome}}</a>
                        </span>
                    </div>
                </li>
            </ul><!-- v-for menus -->
        </div><!-- collapse -->
    </nav><!-- nav -->
  
</template>

<script>
    export default {
        data(){
            return{
                menus: [],
                sub_menus: [],
                bg_cor: '',
            }
        },        

        mounted() {
            this.getCorPadrao();
            this.getNavbar();
            this.getSubMenus();
        },

        methods: {
            getCorPadrao: function(){
                axios.get('/api/restrito/padraocor')
                .then(response => {
                    this.bg_cor = response.data;
                    var style = document.createElement('style');                
                    style.type = 'text/css';
                    style.innerHTML = '.bg-padrao { background-color:'+ response.data +'; }' +
                                    '.texto-padrao { color:'+ response.data +'; }';
                    document.getElementsByTagName('head')[0].appendChild(style);                
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data)
                    console.log(error)
                });
            },
            getSubMenus: function(){
                axios.get('/api/restrito/navbar/submenus')
                .then(response => {
                    this.sub_menus = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });  
            },
            getNavbar: function(){
                axios.get('/api/restrito/navbar')
                .then(response => {
                    this.menus = response.data               
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data);
                    console.log(error);
                });
            }
        }
    }
</script>

<style>
    ul li a:hover{        
        color: #29342B;
    }

    .a-vue-style{
        color: #FBFCFD;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
    }

    .a-vue-style-2{        
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
    }

    .navbar-custom{
        width: 100%;
        height: 45px;
        margin: 0 auto;
    }
</style>
