<template>
  <div class="dp-footer">  
    <footer class="font-small pt-4 bg-footer">
      <div class="container">
        <div class="row">
          <!-- Grid column -->                  
          <div class="col-md-4 col-sm-12 texto-padrao">
            <div class="row">
              <div class="">
                <p class="font-weight-bold">
                  CONTATO                  
                  <i class="fas fa-tty fa-2x"></i>
                </p>
              </div><!--"" -->
            </div><!--row -->
            <div class="row">
              <p class="tx-footer-2">
                <span>TELEFONE: (75) 3430-2385 </span><br>
                <span>EMAIL: itapicuru.adm@gmail.com</span><br>                
              </p>
            </div><!--row -->
          </div><!-- col-md-4 -->
          <div class="col-md-4 col-sm-12 texto-padrao">
            <div class="row">
              <div class="">
                <p class="font-weight-bold">
                  ENDEREÇO                  
                  <i class="fas fa-compass fa-2x"></i>
                </p>
              </div><!--"" -->
            </div><!--row -->
            <div class="row">
              <p class="tx-footer-2">
                <span> PRAÇA DA BANDEIRA, Nº 58, CENTRO, ITAPICURU-BA</span><br>
                <span>CEP: 48475-000</span><br>
                <span>CNPJ: 13.647.557/0001-60</span><br>
              </p>
            </div><!--row -->
          </div><!-- col-md-4 -->  
          <div class="col-md-1"></div>
          <div class="col-md-3 col-sm-12 texto-padrao">
            <div class="row">
              <div class="">
                <p class="font-weight-bold">
                  HORÁRIO DE FUNCIONAMENTO                  
                  <i class="fas fa-business-time fa-2x"></i>
                </p>
              </div><!--"" -->
            </div><!--row -->
            <div class="row">
              <p class="tx-footer-2">
                <span>SEGUNDA-FEIRA À SEXTA-FEIRA</span><br>
                <span>08:00h às 14:00h</span><br>                
              </p>
            </div><!--row -->
          </div><!-- col-md-4 -->  
        </div><!-- Grid row -->
      </div><br>
    </footer>   
    <footer class="font-small pt-4 bg-padrao text-center text-light">
      <p>Copyright © 2019 - Prefeitura Municipal de Itapicuru. Todos os direitos reservados.</p><br>
    </footer>
  </div>
</template>

<script>
  export default {
    
  }
</script>

<style>  
  .bg-footer{
    background-color:  #C6C7C8;    
  }

  .dp-footer{
    padding-top: 5%;
  }

  .tx-footer{
    font-size: 17px;    
  }

  .tx-footer-2{
    font-size: 14px;
    margin: 0;
  }
</style>
