<<template>
   <nav class="navbar navbar-expand-md fixed-top bg-transprarente">        
<div class="container">
   <div class="row">       
        <div id="logo" class="col-md-2 d-md-none d-sm-none d-none d-lg-block">
            <a href="/"><img :src="logo" alt="" title="Portal do Município" width='115%' /></a>
        </div>
        <button class="navbar-toggler bg-padrao" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <i class="fas fa-align-justify"></i>
        </button>
    
        <div class="collapse navbar-collapse col-md-10" id="conteudoNavbarSuportado">            
            <ul class="navbar-nav mx-auto" v-for="m in menus">
                <li class="nav-item" v-if="m.sub_menu == false">
                    <a class="nav-link a-vue-style-3" v-bind:href="m.link">{{m.nome}}</a>
                </li>
                <li class="nav-item dropdown" v-else>
                    <a class="nav-link dropdown-toggle a-vue-style-3" v-bind:href="m.link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{m.nome}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <span v-for="sm in sub_menus">
                            <a class="dropdown-item a-vue-style-4" v-if="sm.id_menu == m.id" :style="{'color': `${bg_cor}`}" v-bind:href="sm.link" target="_blank">{{sm.nome}}</a>
                        </span>
                    </div>
                </li>
            </ul><!-- v-for menus -->
        </div><!-- collapse -->        
    
    </div><!-- nav -->
</div><!-- nav -->
    </nav><!-- nav -->
</template>

<script>
    export default {      
        data(){
            return{
                menus: [],
                sub_menus: [],
                bg_cor: '',
                logo: 'img/logos/logo-governo.png',
            }
        },        

        mounted() {
            this.getCorPadrao();
            this.getNavbar();
            this.getSubMenus();
            this.Scrull();
        },

        methods: {
            getCorPadrao: function(){
                axios.get('/api/restrito/padraocor')
                .then(response => {
                    this.bg_cor = response.data;
                    var style = document.createElement('style');                
                    style.type = 'text/css';
                    style.innerHTML = '.bg-padrao { background-color:'+ response.data +'; }' +
                                      '.hover-padrao { background-color:'+ response.data +'; }' +
                                      '.texto-padrao { color:'+ response.data +'; }' + 
                                      'nav .nav-menu ul li a:hover{ color:'+ response.data +';font-size: 13px; font-weight: bold; }';
                    document.getElementsByTagName('head')[0].appendChild(style);                
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data)
                    console.log(error)
                });
            },
            getSubMenus: function(){
                axios.get('/api/restrito/navbar/submenus')
                .then(response => {
                    this.sub_menus = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });  
            },
            getNavbar: function(){
                axios.get('/api/restrito/navbar')
                .then(response => {
                    this.menus = response.data               
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data);
                    console.log(error);
                });
            },
            Scrull: function(){
                $(document).ready(function() {
                // executes when HTML-Document is loaded and DOM is ready


                /*
                ################
                Add navbar background color when scrolled
                */
                $(window).scroll(function() {
                    if ($(window).scrollTop() > 250) {
                    $(".navbar").addClass("remove-transprarente");
                    } else {
                    $(".navbar").removeClass("remove-transprarente");
                    }
                });
                // If Mobile, add background color when toggler is clicked
                $(".navbar-toggler").click(function() {
                    if (!$(".navbar-collapse").hasClass("show")) {
                    $(".navbar").addClass("remove-transprarente");
                    } else {
                    if ($(window).scrollTop() < 250) {
                        $(".navbar").removeClass("remove-transprarente");
                    } else {
                    }
                    }
                });
                // ############

                // document ready
                });
            }
        }
    }
</script>

<style>
    .a-vue-style-4{        
        font-family: "Poppins", sans-serif;
        font-weight: 600;   
        font-size: 12px;     
    }

    .a-vue-style-3{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: #FBFCFD !important;    
    }

    .bg-transprarente{
        background-color:rgba(0, 0, 0, 0.4);
    }

    .remove-transprarente{
        background-color:rgba(0, 0, 0, 0.9);
    }
    
</style>
