<<template>
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>	
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-center">
                <div class="banner-content col-lg-8 col-md-12">                                                     
                </div>										
            </div>
        </div>					
    </section>
</template>

<script>
    export default {
        data(){
            return{
                municipio: []
            }
        },

        mounted(){
            this.getMunicipio();
        },

        methods: {
            getMunicipio: function(){
                axios.get('/api/restrito/municipio')
                .then(response => {
                    this.municipio = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                }); 
            }
        },
    }
</script>

<style>
    .banner-area {
        background: url(/img/banner/banner-1.jpeg) right; 
        background-size: cover;
    }
</style>
