<<template>
    <header id="header">
        <div class="header-top">
            <div class="container main-menu">        
                <div class="row align-items-center justify-content-between d-flex">
                    <div id="logo" class="col-md-2">
                        <a href="/"><img src="img/logos/logo-governo.png" alt="" title="Portal do Município" width='100%' /></a>
                    </div>
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">                                   
                            <li class="" v-for="m in menus">
                                <div v-if="!m.sub_menu">
                                    <a :href="m.link">
                                        <label class="h6 text-white"> {{m.nome}} </label>
                                    </a>
                                </div>
                                <div class="menu-has-children" v-else>
                                    <li>
                                        <a>
                                            <label class="h6 text-white"> {{m.nome}} </label>
                                        </a>
                                        <ul>
                                            <div v-for="sm in sub_menus">
                                                <li v-if="sm.id_menu == m.id">
                                                    <a class="h5" :href="sm.link" target="_blank">{{sm.nome}}</a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li> 
                                </div> 
                            </li>     
                        </ul>
                    </nav>
                </div><!-- row -->		
            </div><!-- container main-men -->
        </div><!--header-top-->
    </header>
</template>

<script>
    export default {
        data(){
            return{
                menus: [],
                sub_menus: [],
                bg_cor: '',
            }
        },        

        mounted() {
            this.getCorPadrao();
            this.getNavbar();
            this.getSubMenus();
        },

        methods: {
            getCorPadrao: function(){
                axios.get('/api/restrito/padraocor')
                .then(response => {
                    this.bg_cor = response.data;
                    var style = document.createElement('style');                
                    style.type = 'text/css';
                    style.innerHTML = '.bg-padrao { background-color:'+ response.data +'; }' +
                                      '.hover-padrao { background-color:'+ response.data +'; }' +
                                      '.texto-padrao { color:'+ response.data +'; }' + 
                                      'nav .nav-menu ul li a:hover{ color:'+ response.data +';font-size: 13px; font-weight: bold; }';
                    document.getElementsByTagName('head')[0].appendChild(style);                
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data)
                    console.log(error)
                });
            },
            getSubMenus: function(){
                axios.get('/api/restrito/navbar/submenus')
                .then(response => {
                    this.sub_menus = response.data;
                })
                .catch(error => {                
                    console.log(response.data);
                    console.log(error);
                });  
            },
            getNavbar: function(){
                axios.get('/api/restrito/navbar')
                .then(response => {
                    this.menus = response.data               
                })
                .catch(error => {
                    alert(error);
                    console.log(response.data);
                    console.log(error);
                });
            }
        }
    }
</script>

<style>
     
</style>
