<<template>
    <div class="container dp-prev">
        <div class="row">                
            <div class="div-previsao col-sm-3 col-md-3 col-lg-3">
                <div class="tx-noticia texto-padrao">TEMPO</div>
                <div class="text-center card bg-prev">
                    <div id="carouselNocitias" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">                                
                                <div class="text-md-left prev-tb" :style="{'background-image': `url(${img_id})`}">
                                    <div class="text-center">
                                        <span class="font-italic-title">Hoje - {{prev.temp}} ºC</span><br>
                                        <span class="font-italic-title">{{prev.description}}</span><br>
                                    </div> <br>
                                    <span class="font-italic">Umidade do ar: {{prev.humidity}} %</span><br>
                                    <span class="font-italic">Velocidade do vento: {{prev.wind_speedy}}</span><br>                                    
                                    <span class="font-italic">Pôr do Sol: {{prev.sunset}}</span>
                                </div>
                            </div>
                            <div class="carousel-item" v-for="px in prox">
                                <div class="font-italic-title">
                                    <span>{{px.weekday}} - {{px.date}}</span><br>
                                    <span>{{px.description }}</span>
                                </div><br>                                
                                <div class="text-md-left prev-tb">
                                    <span class="font-italic">Mínima: {{px.min}} ºC</span><br>
                                    <span class="font-italic">Máxima: {{px.max}} ºC</span>
                                </div>
                            </div>                            
                        </div><!--carousel-inner -->   
                    </div> <!--carousel slide-->     
                </div><!--text-center card border-secondary bg-prev --> 
                <div class="d-flex justify-content-center pd-top-btn">
                    <a class="btn btn bg-padrao" href="#carouselNocitias" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>                                
                    </a>
                    &ensp;
                    <a class="btn btn bg-padrao" href="#carouselNocitias" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>                                
                    </a>         
                </div><!-- d-flex justify-content-center -->
            </div><!--div-previsao -->
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div>
                    <div class="tx-noticia texto-padrao">VÍDEOS</div>
                </div>       
                <div class="embed-responsive embed-responsive-16by9">                                     
                    <iframe class="iframe-respansive-videos"id="ytplayer" type="text/html" src="http://www.youtube.com/embed/zNBTTqKU_28" frameborder="0"/>                    
                </div><!--d-flex justify-content-end-->
            </div><!--col-md-8-->
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="tx-noticia texto-padrao">FACEBOOK</div>
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPrefeituraDeItapicuru/&tabs=timeline&width=320&height=320&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="320" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div><!--row--><br>            
    </div><!--container-fluid-->
    
</template>

<script>
    export default {        
        data(){
            return{
                prev: [],
                prox: [],
                img_id: ''
            }
        },        

        mounted() {            
            axios.get('/api/restrito/previsao')
            .then(response => {
                this.prev = response.data
                this.prox = response.data["forecast"]
                this.img_id = "img/prev/" + response.data.img_id + ".png";                
            })
            .catch(error => {                
                console.log(response.data)
                console.log(error)
            });                 
        },              
    }
</script>

<style>
    .prev-tb{
        font-size: 15px;
        font-weight: bold;
    }

    .bg-prev{
        background-color: #C6C7C8;   
        min-width: 50%;
        min-height: 60%;
        width: 100%;
        height: 56%;
    }    
    .font-italic-title{
        font-size: 22px;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;        
        font-weight: bold;
    }

    .pd-top-btn{
        padding-top: 10%;
    }

    .div-previsao{        
        min-width: 20%;
        min-height: 340px;
        width: 300px;
        height: 340px;
    }

    .dp-prev{
        padding-top: 5%;
    }

    .iframe-respansive-videos{
        height:156%;
        width:177%;
    }

</style>